@import url('http://fonts.googleapis.com/css?family=Arvo');

body{
	font-family: 'Arvo', serif;
	background-color: white;
	color:#062f4f;
}

.main{
	position: absolute;
	width: 80%;
	top: 0%;
	left: 20%;
	text-align: center;
}

.sidebar{
	position: fixed;
	width: 20%;
	height: 100%;
	z-index: 2;
	top: 0%;
	left: 0%;
	text-align: center;
	background-image: url("Images/trianglify.png");
	background-size: cover;
	background-repeat: no-repeat;
	color: #d0e8fb;
}

.contact{
	position: absolute;
	height: 20%;
	width: 100%;
	top: 100%;
	margin-top: -20%;
	text-align: center;
}

.name{
	transition: .2s;
	position: absolute;
	left: 25%;
	top: 5%;
	background-color: #d0e8fb;
	width: 50%;
	height: 18.8%;
}

.name:hover{
	transition: .2s;
	background-color: white;
}

.name:active{
	transition: .1s;
	left: 25.25%;
	top: 5.1%;
	width: 49.5%;
	height: 18.6%;
	background-color: white;
}

.links-list{
	position: absolute;
	width: 50%;
	left: 25%;
	top: 25%;
}

.sidebar-list h1{
	font-size: 300%;
	color: #062f4f;
}

.sidebar-list ul{
	font-size: 150%;
	padding: 0;
	list-style-type: none;
}

.sidebar-list a{
	transition: .2s;
	text-decoration: none;
	color: #d0e8fb;
}

.sidebar-list a:hover{
	transition: .2s;
	color: white;
}

.links-list a:active{
	transition: .1s;
	color: white;
	font-size: 98%;
}